body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 0 10%;
}

.header-section {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
}
.header-section1{
    padding-bottom: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30% 0px;
}

.nav-right {
    display: flex; 
}

.netflix-img {
    width: 70%;
}

.dropdown {
    padding-left: 10px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
    outline: none;
    font-weight: 600;
}

.dropdown span {
    font-size: 1px;
}

select:active {
    outline: none;
    border: 4px solid rgb(10, 10, 10);  
}

.btn-signin {
    font-size: 25px;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
    font-weight: 600;
}

.section-heading {
    color: white;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 10px;
}

.section-sub-heading {
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section-desc {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}

.email-textbox {
    font-size: 20px;
    width: 450px;
    height: 70px;
    background-color: black;
    padding: 2px;
    margin-right: 20px;
    outline: none;
}

.email-textbox:active {
    border: 3px solid white;
}

.section-btn {
    display: flex;
}

.btn-getstarted {
    background-color: red;
    color: white;
    height: 80px;
    border: none;
    width: 300px;
    border-radius: 4px;
    font-size: 30px;
}

.btn-getstarted:hover {
    background-color: rgb(196, 16, 16);
}
.section2{
    margin: 0 10%;
}
.section3{
    margin: 0 10%;
}
footer{
    margin: 0 10%;
}
.footer-input{
    padding-bottom: 20px;
}
.section2{
    margin-top: 10px;
}
.section2-title{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 1%;
}
.section2-content{
    border: 5px solid blue;
    border-radius: 20px;
    height: 500px;
    width: 20%;
}
.section2-content div:nth-child(odd){
    padding: 10%;
    font-size: 40px;
    font-weight: bold;
}
.section2-content div:nth-child(even)
{
    padding: 0% 10%;
    font-size: 20px;
}
.section2-flex{
    display: flex;
    justify-content:  space-between;
}