body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family:  Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif}
h1{
    display: none;
}
header {
    margin: 0 10%;
}

.header-section {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
}
.header-section1{
    padding-bottom: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30% 0px;
}

.nav-right {
    display: flex; 
}

.netflix-img {
    width: 70%;
}

.dropdown {
    padding-left: 10px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
    outline: none;
    font-weight: 600;
    border-radius: 12px;
}

.dropdown span {
    font-size: 1px;
}

select:focus {
    outline: none;
    border: 4px solid rgb(234, 232, 232);  
}

.btn-signin {
    font-size: 25px;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
    font-weight: 600;
}

.section-heading {
    color: white;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 10px;
}

.section-sub-heading {
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section-desc {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}

.email-textbox {
    font-size: 20px;
    width: 450px;
    height: 70px;
    background-color: black;
    padding: 2px;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
}

.email-textbox:focus{
    border: 5px solid white;
    color: white;
    outline: none;
}

.section-btn {
    display: flex;
}

.btn-getstarted {
    cursor: pointer;
    background-color: red;
    color: white;
    height: 80px;
    border: none;
    width: 300px;
    border-radius: 4px;
    font-size: 30px;
}

.btn-getstarted:hover {
    background-color: rgb(196, 16, 16);
}
.section2{
    margin: 0 10%;
}

footer{
    margin: 0 10%;
}
.footer-input{
    padding-bottom: 20px;
}
.section2{
    margin-top: 10px;
}
.section2-title{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 1%;
}

.section2-icon{
    float: right;
    width: 200px;
    height: 100px;
}
.section2-content{
    background-color: rgba(30, 23, 42,1);
    border-radius: 20px;
    height: 500px;
    width: 22%;
}
.section2-content div:nth-child(odd){
    padding: 10%;
    font-size: 40px;
    font-weight: bold;
}
.section2-content div:nth-child(even)
{
    padding: 0% 10%;
    font-size: 20px;
}
.section2-flex{
    display: flex;
    justify-content:  space-between;
}
.section3{
    margin: 0 10%;
    padding: 3% 0;
}
.section3-title{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}
.section3-content{
    width: 70%;
}
.section3-content-sub{
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(46, 46, 46);
    margin: 0px 10px 3px 10px;
}
.section3-content-sub:hover{
    background-color: rgb(72, 72, 72);
}
.section3-content-sub div:nth-child(even)
{
   font-weight: 100;
   font-size: 50px;
}
.section3-desc{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(46, 46, 46);
    margin: 0px 10px 10px 10px;
    /* display: none; */
}
.footer-title{
    font-size: 35px;
    padding-bottom: 10px;
}
.footer-call{
    padding:0 0 3% 3%;
    color: rgba(179,179,179,1);
    font-size: 30px;
}
.footer-grid{
    padding:0 0 3% 3%;
    display: flex;
    flex-wrap: wrap;
}
.footer-grid div{
    width: 25%;
    padding: 1% 0;
    font-size: 25px;
}
.footer-grid div a{
    color: rgba(179,179,179,1);
}
.footer-end{
    padding-top: 2%;
    font-size: 25px;
    color: rgba(179,179,179,1);
}
@media screen and (max-width: 1200px) {
     .header-section,
     .header-section1,
     .section2,
     .section3,
     footer{
        display: none;
     }
     h1{
        display: block;
        padding: 10%;
     }
}